{% load  static %}
{% load i18n %}
{% load erpextra %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
{% if request.user|has_group:"admin" %}
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{% trans "System"%} <sup>{% trans "TPL"%}</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans "Dashboard"%}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans "Interface"%}
    </div>

    <!-- Nav Item - Categories Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="fas fa-object-ungroup"></i>
            <span>{% trans "Categories"%}</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'category:add_category' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'category:all_category_list' %}">{% trans "List"%}</a>
                <hr>
                <a class="collapse-item" href="{% url 'category:export_categories_excel' %}"><i class="fas fa-upload"></i> {% trans "Export Excel"%}</a>
                <a class="collapse-item" href="{% url 'category:upload_category_excel' %}"><i class="fas fa-download"></i> {% trans "Import Excel"%}</a>
            </div>
        </div>
    </li>

     <!-- Nav Item - User Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
           aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-user-tie"></i>
            <span>{% trans "User"%}</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'accounts:add_user' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'accounts:users_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Customer Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
           aria-expanded="true" aria-controls="collapseCustomer">
            <i class="fas fa-user-tie"></i>
            <span>{% trans "Customer"%}</span>
        </a>
        <div id="collapseCustomer" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'customer:add_customer' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'customer:customer_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - City Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCity"
           aria-expanded="true" aria-controls="collapseCity">
            <i class="fas fa-city"></i>
            <span>{% trans "City"%}</span>
        </a>
        <div id="collapseCity" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'customer:add_city' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'customer:city_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Product Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseproduct"
           aria-expanded="true" aria-controls="collapseproduct">
            <i class="fas fa-box"></i>
            <span>{% trans "Product"%}</span>
        </a>
        <div id="collapseproduct" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'product:add_product' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'product:all_product_list' %}">{% trans "List"%}</a>
                <hr>
                <a class="collapse-item" href="{% url 'product:export_products_excel' %}">1- <i class="fas fa-upload"></i> {% trans "Export Excel"%}</a>
                <a class="collapse-item" href="{% url 'product:upload_products_excel' %}">2- <i class="fas fa-download"></i> {% trans "Import Excel"%}</a>

            </div>
        </div>
    </li>

    <!-- Nav Item - Stock Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsestock"
           aria-expanded="true" aria-controls="collapsestock">
            <i class="fas fa-boxes"></i>
            <span>{% trans "Stock"%}</span>
        </a>
        <div id="collapsestock" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'warehouse:add_stock' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'warehouse:all_stock_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - StockProduct Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsestockproduct"
           aria-expanded="true" aria-controls="collapsestockproduct">
            <i class="fas fa-pallet"></i>
            <span>{% trans "Stock Products"%}</span>
        </a>
        <div id="collapsestockproduct" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'warehouse:all_stockproduct_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Order Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseorder"
           aria-expanded="true" aria-controls="collapseorder">
            <i class="fas fa-clipboard-list"></i>
            <span>{% trans "Orders"%}</span>
        </a>
        <div id="collapseorder" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                                <a class="collapse-item" href="{% url 'warehouse:order_stockproduct_list' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'order:order_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Supplier Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsesupplier"
           aria-expanded="true" aria-controls="collapsesupplier">
            <i class="fas fa-truck"></i>
            <span>{% trans "Supplier"%}</span>
        </a>
        <div id="collapsesupplier" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'supplier:add_supplier' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'supplier:supplier_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Buyorder Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsebuyorder"
           aria-expanded="true" aria-controls="collapsebuyorder">
            <i class="fas fa-clipboard-list"></i>
            <span>{% trans "Buyorder"%}</span>
        </a>
        <div id="collapsebuyorder" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'customer:buyorder_city_list' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'buyorder:buyorder_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - DeliveryMan Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedeliveryman"
           aria-expanded="true" aria-controls="collapsedeliveryman">
            <i class="fas fa-shipping-fast"></i>
            <span>{% trans "Delivery Man"%}</span>
        </a>
        <div id="collapsedeliveryman" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'delivery:add_delivery' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'delivery:delivery_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Billing Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseorderbill"
           aria-expanded="true" aria-controls="collapseorderbill">
            <i class="fas fa-file-invoice-dollar"></i>
            <span>{% trans "Billing"%}</span>
        </a>
        <div id="collapseorderbill" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'supplier:buyorder_supplier_list' %}">{% trans "Add Buy Order"%}</a>
                <a class="collapse-item" href="{% url 'billingorder:buybill_list' %}">{% trans "List Buy Order"%}</a>
                <!-- Divider -->
                <a class="collapse-item" href="{% url 'customer:order_city_list' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'billingorder:bill_list' %}">{% trans "List"%}</a></div>
        </div>
    </li>
{% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans "More Info"%}
    </div>
{% if request.user|has_group:"admin" %}
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'payments:customer_paylist' %}">
            <i class="fas fa-search-dollar"></i>
            <span>{% trans "Customers Payment History"%}</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'payments:supplier_paylist' %}">
            <i class="fas fa-search-dollar"></i>
            <span>{% trans "Suppliers Payment History"%}</span></a>
    </li>
{% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

     {% get_current_language as LANGUAGE_CODE %}
          <form action="{% url 'set_language'%}" method="post">
              {%csrf_token%}
              <input type="hidden" name="next" value="{{ redirect_to }}">
              <select class="form-control" name="language" id="">
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                       <i class="fas fa-clipboard-list"></i>  {{ language.name_local}} {{ language.code }}
                    </option>
                  {% endfor %}
              </select>
              <input class="btn btn-warning btn-block mt-3" type="submit" value="Go">
          </form>
</ul>
<!-- End of Sidebar -->