{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="product-detail">
    <div class="container">
        <div class="row">
        <div class="col">
            <div class="card card-body">
                <h1 class="text-center">{{ stockproduct.id }}</h1>
            <h1 class="text-center text-primary">{{ stockproduct.name }}</h1>
            <h2 class="text-center text-success">
                {{ stockproduct.category }}
            </h2>
            </div>
            <div class="card card-body text-center">
                <img class="img-fluid rounded mx-auto d-block"
                 src="{% if stockproduct.image %}{{ stockproduct.image.url }}
                 {% else %}
                 {% static 'img/no_image.png' %}
                 {% endif %}"
            >
            </div>
        <hr>
        </div>
        <br>
        <hr>
        <br>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                        <form action="{% url 'cart:cart_add' stockproduct.id %}" method="post">
            {% csrf_token %}
            <div class="row">
                {% for type in stockproduct.get_types %}

                <div class="col-md-4 col-sm-12">
                    {{ cart_product_form|crispy }}
                    <label for="{{stockproduct.id}}">Product </label>
                    <input id="{{stockproduct.id}}" class="form-control" type="text" value="{{ stockproduct.name }}"
                           name="names" disabled>
                    <label for="{{type.id}}">{% trans "Type" %} </label>
                    <input class="form-control" type="text" value="{{ type }}" id="{{type.id}}" name="types" readonly>
                    <hr>
                    {% if customertype == 'type1' %}
                    <h6 class="mb-3 price">{{type.price1}} {% trans "DZD" %} </h6>
                    {% elif customertype == 'type2'%}
                    <h6 class="mb-3 price">{{type.price2}} {% trans "DZD" %}</h6>
                    {% elif customertype == 'type3'%}
                    <h6 class="mb-3 price">{{type.price3}} {% trans "DZD" %}</h6>
                    {% elif customertype == 'type4'%}
                    <h6 class="mb-3 price">{{type.price4}} {% trans "DZD" %}</h6>
                    {% elif customertype == 'type5'%}
                    <h6 class="mb-3 price">{{type.price5}} {% trans "DZD" %}</h6>
                    {% elif customertype == 'type6'%}
                    <h6 class="mb-3 price">{{type.price6}} {% trans "DZD" %}</h6>
                    {% else %}
                    <h6 class="mb-3 price">0</h6>
                    {% endif %}

                </div>

                {% endfor %}
            </div>
            <br>
            <input type="submit" value="Add to Cart">
        </form>

            </div>
        </div>
        <br>

    </div>


</div>
{% endblock %}