{% extends "base.html" %}
{% load i18n %}
{% block title %}
Checkout
{% endblock %}

{% block content %}
<h1>Checkout</h1>

<div class="order-info">
    <h3>{% trans "Your order" %}</h3>
    <ul>
        {% for item in cart %}
        <li>

            {{ item.quantity }}x {{ item.product_type.product.name }} ({{ item.product_type}})
            <span>{% trans "DZD" %} {{ item.total_price }}</span>
        </li>
        {% endfor %}
    </ul>
    <p>{% trans "Total" %}: {% trans "DZD" %}{{ cart.get_total_price }}</p>
</div>
<form method="post" class="order-form">
    <p><input type="submit" value="Place Order"> </p>
    {% csrf_token %}
</form>
{% endblock %}