{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<div class="container">
    <div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Deliveries" %}</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>{% trans "First Name" %}</th>
                    <th>{% trans "Last Name" %}</th>
                    <th>{% trans "Phone" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                {% for delivery in deliveries %}
                <tr>
                   <td>
                       {{delivery.user.first_name}}
                   </td>
                   <td>
                       {{delivery.user.last_name}}
                   </td>
                    <td>
                       {{delivery.phone}}
                   </td>
                    <td>
                       {{delivery.city}}
                   </td>
                    <td>
                        <a class="btn btn-success " href="{% url 'delivery:update_delivery' delivery.id %}">{% trans "Update" %}</a>
                    </td>
                    <td>
                        <a class="btn btn-danger " href="{% url 'delivery:delete_delivery' delivery.id %}">{% trans "Delete" %}</a>
                    </td>
                    <td>
                        <a class="btn btn-warning " href="{% url 'delivery:details_delivery' delivery.id %}">{% trans "Details" %}</a>
                    </td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
